{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  },
  "rules": {
    "key-spacing"          : 0,
    "indent"               : ["off", 4],
    "jsx-quotes"           : [2, "prefer-double"],
    "max-len"              : [2, 520, 2],
    "object-curly-spacing" : [0, "always"],
    "space-before-function-paren" : "off",
    "semi"                 : "off",
    "no-multi-spaces"      : "off",
    "spaced-comment"       : "off",
    "no-trailing-spaces"   : "off",
    "react/prop-types"     : "warn",
    "react/jsx-indent"     : "off",
    "react/jsx-indent-props" : "off"
    
  }
}
