.plan-modal {
    width: 65%;

    .plan-content {
        width: 95%;
        margin: 0 auto;
        
        .plan-text {
            padding: 16px;

            .title {
                padding-bottom: 35px;
            }

            .text-container {
                padding-top: 50px;
            }

            .text {
                padding-top: 10px;
            }

            .signature {
                padding-top: 20px;
                border-bottom: 1px dotted black;
            }
        }
    }

    .btn-generate-pdf {
        padding: 35px 0 0;
    }
}
.plan-card{
    background-color: #ed868b;
}