$theme: blue;

// Green 
// $color-primary: #c1ecbb;
// $color-primary-destaque: #dbf3d7;
// $color-secundary: #89c236;
// $color-secundary-destaque: #44943a;

// $color: #89c236;
// $color-active: #2f8624;

// Blue
$color-1: #2d1d86;
$color-1-adjacente: #4025da;
$color-2: #ee8d0f;
$color-2-adjacente: #f8b65f;
$color-text-1: #FFF;
$color-text-2: rgb(2, 2, 14);

$color-in-light-bg: $color-text-2;
$color-in-dark-bg: $color-text-1;

$header-text-primary: $color-text-1;
$header-text-hover: $color-text-2;
$header-bg-primary: $color-1;
$header-bg-secondary: $color-2;
$header-bg-primary-hover: $color-2-adjacente;
$header-bg-secondary-hover: $color-2-adjacente;
$header-destaque: $color-2;
$header-destaque-simples: $color-2-adjacente;

$btn-text-primary: $color-text-1;
$btn-text-secundary: $color-text-1;
$btn-bg-primary: $color-1; 
$btn-bg-primary-hover: $color-1-adjacente;
$btn-bg-secondary: $color-1; 
$btn-bg-secondary-hover: $color-1-adjacente;
