@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Colors */
$color-primary: #c1ecbb;
$color-primary-destaque: #dbf3d7;
$color-secundary: #89c236;
$color-secundary-destaque: #44943a;

$color: #89c236;
$color-active: #2f8624;

.btn-primary{
  background-color: $color;
  border-color: $color;
}
.btn-primary:hover{
  background-color: $color-active;
}
.btn-secondary {
  background-color: $color-primary;
  border-color: $color-primary;
  color: #000 !important;
}

.btn-secondary:hover{
  background-color: $color;
  text-decoration: none;
}
