@import 'base';
@import 'color';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Padrões */
body, th, td {
  //color: $color-in-light-bg;
}

/* Botões */

.btn-primary{
  background-color: $btn-bg-primary;
  border-color: $btn-bg-primary;
  color: $btn-text-primary !important;
}
.btn-primary:hover{
  background-color: $btn-bg-primary-hover;
}
.btn-secondary {
  background-color: $btn-bg-secondary;
  border-color: $btn-bg-secondary;
  color: $btn-text-secundary !important;
}

.btn-secondary:hover{
  background-color: $btn-bg-secondary-hover;
  text-decoration: none;
}

.btn-success {
  background-color: $btn-bg-primary;
  border-color: $btn-bg-primary;
  color: $btn-text-primary !important;
}
.btn-success:hover{
  background-color: $btn-bg-primary-hover;
}