.container-list {
    //border: 2px solid #666;
}

.list {
    margin-top: 20px;
}

.register-edit {
    color: #666600;
    cursor: pointer;
}

.register-remove {
    color: #ff0000;
    cursor: pointer;
}
