/* Header
=================================================================== */
$height-total: 70px;
$header-padding-vertical: 10px;
$logo-height: $height-total - ($header-padding-vertical * 2);

@import 'color';

/* Colors */
// $color-primary: #c1ecbb;
// $color-primary-destaque: #dbf3d7;
// $color-secundary: #89c236;
// $color-secundary-destaque: #44943a;

$header-text-primary: $color-text-1;
$header-text-hover: $color-text-2;
$header-bg-primary: $color-1;
$header-bg-secondary: $color-2;
$header-bg-primary-hover: $color-2-adjacente;
$header-bg-secondary-hover: $color-2-adjacente;
$header-destaque: $color-2;
$header-destaque-simples: $color-2-adjacente;
header {
	background-color: $header-bg-primary;
	border-bottom: 5px solid $header-destaque;
	//padding-top: 5px;
	
	nav.navbar {
		height: $height-total;
	}

	.navbar-toggler {
		width: $logo-height;
		height: $logo-height;
		padding-top: $header-padding-vertical;
		padding-bottom: $header-padding-vertical;
	}

	#header-logo {
		height: $logo-height;
		width: 60px;
	}

	.navbar-brand {
		padding-top: $header-padding-vertical;
		padding-bottom: $header-padding-vertical;
	}

	.navbar, 
	.navbar-inner, 
	.nav {
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 0;
		margin: 0;	
	}
	
	.navbar-inner {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.navbar .navbar-nav {
		min-height: 70px;
		font-weight: 600;
	}
	
	.navbar .nav > li > a {
		width: 100%;
		display: block;
		color: $header-text-primary;
		background-color: $header-bg-primary;
		border-top:4px solid $header-destaque-simples;
		text-shadow: none;
		font-size: 16px;
		padding: 21px 15px;
		text-decoration: none;
		cursor: pointer;
	}
	
	
	.navbar .nav > li > a:focus,
	.navbar .nav > li > a:hover {
		background: $header-bg-primary-hover !important;		
		border-top:4px solid $header-destaque-simples;
		color: $header-text-hover;
	}

	.navbar .nav > .active > a {
		background-color: $header-bg-secondary !important;
		border-top-color: $header-destaque;	
	}
	
	.navbar .nav > .active > a:hover,
	.navbar .nav > .active > a:focus {
		background-color: $header-bg-secondary-hover;
		text-decoration: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		cursor: default;
	}

	// .navbar .btn-navbar {
	// 	position: absolute;
	// 	right: 50px;
	// 	top: 15px;
	// }

	
}