
.footer {
    position: absolute;
    bottom: 0px;
    font-size: 9px;
    color: #666;
    height: 60px;
    
    //background-color: #FFF;
    #logo-footer {
        width: 30px;
        height: 30px;
    }
}
