.sight {
    .page-title {
        margin-bottom: 0;
    }

    .text-area {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .toolbar-edit {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
    }

    .slider {
        margin-bottom: 50px;
    }

    .actions {
        margin-bottom: 50px;
    }

    .btn-actions {
        margin-right: 5px;
    }
    .row {
        width: 100%;
    }
}